<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jump-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{58,108}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,20},{58,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>jump-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{50,100}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,28},{50,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>jump-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{52,112}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,16},{52,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>jump-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{54,96}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,32},{54,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>jump-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{60,98}}</string>
                <key>offset</key>
                <string>{-7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{60,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>jump-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{44,118}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{44,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>jump-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{56,126}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{56,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>jump-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{54,108}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,7},{54,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>jump-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,60},{44,126}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,2},{44,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>jump-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{50,108}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,20},{50,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>run-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{92,118}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{92,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>run-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{68,112}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,16},{68,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>run-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{56,118}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,10},{56,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>run-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{44,124}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{44,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>run-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,124}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,4},{72,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stick.png</string>
            <key>size</key>
            <string>{910,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f90665c1277ee26a0f47ca3815a7ff4:16293492312d2a197ebf3191b5efb23f:921d9da9489872de1eeff65d006b879e$</string>
            <key>textureFileName</key>
            <string>stick.png</string>
        </dict>
    </dict>
</plist>
